{
    "rgb_role_id": "1150577684771000382",
    "booster_role_id": "1172098000563228716",
    "color_change_interval": 3600,
    "banner_change_interval": 20,
    "banner_storage_path": "/home/freaksclub2/banners"
}
